.ViewComment .HeadSection{
    display:flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    align-items: center;
}

.ViewComment .HeadSection img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.ViewComment .HeadSection p{
    font-size: 30px;
    
}

.ViewComment .HeadSection button{
    background-color: #1E0443;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

.ViewComment .firRow img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 50px;
}

.ViewComment .firRow{
    display: flex;
    gap: 50px;
}

.ViewComment .secRow{
    display: flex;
    gap: 20px;
    margin-left: 180px;
}

